<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">2017</a></li>
  <li><a href="#!">2016</a></li>
  <li><a href="#!">2015</a></li>
</ul>
<nav>
  <div class="container">
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Spevack Twins</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="badges.html"><i class="material-icons">favorite</i></a></li>
        <li><a href="sass.html"><i class="material-icons">search</i></a></li>
        <li><a href="collapsible.html" class="dropdown-button" data-activates="dropdown1"><i class="material-icons">collections</i></a></li>
        <%= render 'shared/signin_or_out' %>
      </ul>
    </div>
  </div>
</nav>
