<nav>
  <div class="container">
    <div class="nav-wrapper">
      <%= render "shared/conditional_logo_link" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <%= render "shared/signin_or_out" %>
      </ul>
    </div>
  </div>
</nav>
