.account-img {
  width: 50px;
  height: auto;
  margin-top: 7px;
}

a#sign-out {
  height: 64px;
}

.main-photo, .photo-list {
  margin-top: 32px;
}

.small-image-card {
  margin: 10px;
  background-color: black;
  width: 300px;
  height: 350px;
  display: inline-block; /* makes it fit in like an <img> */
  background-size: cover; /* or contain */
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("https://00e9e64bac034878d7aa0063bc167dee83a0c772569138e2a1-apidata.googleusercontent.com/download/storage/v1/b/photo-of-the-day/o/development%2Fimages%2F1%2F2016-10-15-photo-1486752419?qk=AD5uMEt7peNP-tM2iL74dl1G2ruTNL6GrKobyjFCHtVXlR1Qn6Cx7RrFX3No4AL743ZmhHh5eg2ABOnF7iaTqqdOhKpN49dDZEhMx3cAmGNJwZ0B80sAdyYJnE3LxBUlVo2YGfkfUcL2oLMkf7T6d9v3JkZmaee8zUpfmU_Ujm1Q7O-n6wNAEz1xmRzrP76u2cMm2hnUwP54ZY9Y0vwk7tluTvxOb-TaqSRc-8AtNYgLr__ka8kcspiRTeYn9Q84ZD55fvrKSuoY9WESvuPUuMwO3iRgLgf4UnjnlsB0VKPMaypD5mVXKtcRa-mncuOR3vG7Uk3ytccUMuqzloVFId2pU6pLz8gwYXwCNKTOqLTYdIGSl41ZEzJu4BYbKXrhiB4qZ6p7GDATtU_CAmQS3aPdvmTsdhQZKmQIylYxb7sLp_sXelHo4gPv_dg_aI4zehjZnsbnSiHbN3M39QCv367wTTA2W3NWbdE-89QSXkT3tygtUYUXSjEHrN8Z-d8B9EAaQWmRIosjQvxCYfKuG8vNFZ2cuHRrFM0K4_WhCyTn_I1Yo3V5S0aVibqS2s0KTdI4zLDxdOiy_G1QFva0ZkEpEVEIZe2K5LjcMOKKJ2RbW0K3JjiCmXZkBGHLyiK61WToKGe49JoPqqKSjYh6xwjfeLm-n_V47UvNS33eyHQn7dpatdI4SzNTmJYti8dl88eGUzhCCXzZ7pF3RrkgOzBSnDv9H3Ukotwa0t2JT0B646d6rPOBeK7VX63OcSm1w5-hD7sHIpqqFG4snTobfrwabcZ0yTqVIPwxrJDpTNMIGW7cDNgfBrr-nvMPlVaBphobGo4NUTaC8J6_TXfeatSJZjXwu09FvA");
}

.small-photo-date {
  margin-left: 10px;
}

img.account-img.z-depth-1 {
  margin-top: 20px;
}

/*
When creating your CSS selector,
change "brown" to something of your choosing
*/
.waves-effect.waves-yellow-accent-4  .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: #ffd600;
}

.bottom-margin-25 {
  margin-bottom: 25px;
}

.comment-row {
  padding-bottom: 1px;
}

.username {
  font-weight: bold;
}

.more-comment {
  width: 4rem;
  position: absolute;
  display: block;
  line-height: 2em;
}

.more-comment a {
  padding-left: 10px;
  color: black;
}

.hovered {
  background-color: #F3F3F3;
}

small.grey-text {
  margin-left: 5px;
}
